.sidebar-title{
    letter-spacing: 0.1em;
    color: #aaa;
}
body{
    background-image: linear-gradient(135.9deg,rgb(255, 238, 238) 16.4%,rgba(221, 239, 187, 1) 56.1%);
    min-height: 100vh;
}
.vertical-nav{
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    transition: all 0.4s;
}

.page-content{
    width: calc(100%-17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}
#content.active{
    width: 100%;
    margin: 0;

}
#sidebar.active{
    margin-left: -17rem;


}