{% include 'header.html' %}
{% load static %}
<br><br><br><br><br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <div class="section-title">
                        <div class="section-subtitle">
                            About Us
                        </div>
                        <h2 class="section-main-title">We are <strong>Professionals</strong></h2>
                    </div>
                    <div class="about-iem">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit sapiente earum rerum eaque
                            impedit corporis sint fugit, omnis labore dolore!</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 offset-sm-2">
                <div class="about-box">
                    <img src="{% static 'images/about.jpg' %}">
                </div>
            </div>


        </div>


    </div>
</section>