{% extends 'admin_base.html' %}
{% block main %}
<div class="row">
    <div class="col-sm-6 p-2">
        <div class="card shadoww">
            <div class="card-body">
                <h4 class="text-success">
                    Total Services

                </h4>
                <h5 align="center">
                    {{totalservices}}
                </h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'manage_services' %}">View --></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-2">
        <div class="card shadoww">
            <div class="card-body">
                <h4 class="text-success">
                    Total Unread Queries

                </h4>
                <h5 align="center">
                    {{totalunread}}
                </h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'unread_queries' %}">View  --></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-2">
        <div class="card shadoww">
            <div class="card-body">
                <h4 class="text-success">
                    Total Read Queries

                </h4>
                <h5 align="center">
                    {{totalread}}
                </h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'read_queries' %}">View  --></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-2">
        <div class="card shadoww">
            <div class="card-body">
                <h4 class="text-success">
                    Total New Bookings

                </h4>
                <h5 align="center">
                    {{totalnewbooking}}
                </h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'new_booking' %}">View --></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-2">
        <div class="card shadoww">
            <div class="card-body">
                <h4 class="text-success">
                    Total Old Bookings

                </h4>
                <h5 align="center">
                    {{totaloldbooking}}
                </h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'old_booking' %}">View  --></a>
            </div>
        </div>
    </div>



</div>
{% endblock %}